$button-padding-y: 9px !default;
$button-padding-x: 24px !default;
$button-gap: 0.6rem !default;

$button-lg-padding-y: 0.5625rem !default;
$button-lg-padding-x: 8.3438rem !default;
$button-lg-gap: 0.8rem !default;

$button-border-width: 0.125rem !default;
$button-border-radius: 0.25rem !default;

$button-transitions: all 0.2s ease-in-out !default;
