.Carousel {
   position: relative;
   width: 100vw;
   height: 100%;
   background: linear-gradient(130.05deg, #fafeff -0.02%, #effcff 99.98%);
   padding-top: 3rem;
   padding-bottom: 4rem;
   padding-left: 1rem;
   display: flex;
   flex-direction: column;
   gap: 3rem;

   p {
      font-weight: 300;
      font-size: 18px;
      color: #414141;
   }

   &__Container {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      align-items: center;
      gap: 2rem;

      .Image__Container {
         width: 100%;
         height: 100%;
         position: relative;
         p {
            position: absolute;
            top: 3rem;
            left: 1.5rem;
            font-weight: 200;
            font-size: 3rem;
            color: white;

            span {
               font-weight: 700;
               color: #f5e28f;
               display: block;
            }
         }

         span:nth-child(3) {
            position: absolute;
            bottom: 10rem;
            left: 1.5rem;
            color: white;
            font-weight: 600;
         }

         button {
            position: absolute;
            right: 2rem;
            bottom: 2.5rem;
            background: linear-gradient(274.13deg, #197acf 0.89%, #1a8de9 98.03%);
            border: none;
            padding: 1.5rem;
            padding-right: 3rem;
            padding-left: 3rem;
            text-transform: uppercase;
            font-size: 1.6rem;
            color: white;
            font-weight: 600;
            letter-spacing: 0.07rem;
            border-radius: 0.4rem;
         }

         img {
            border-radius: 0.5rem;
         }
      }
   }
}
