.carousel {
   width: 100%;
   background: linear-gradient(130.05deg, #fafeff -0.02%, #effcff 99.98%);
   padding-left: 1rem;
   padding-top: 2.5rem;
   padding-bottom: 2.5rem;
   overflow: hidden;

   &__title {
      margin-bottom: 2rem;
      font-size: 18px;
      line-height: 26px;
      font-weight: 300;
      color: #414141;
   }

   &__container {
      display: flex;
      gap: 2rem;
      .Image__Container {
         position: relative;
         width: 100%;
         height: 100%;

         img {
            object-fit: cover;
            background: linear-gradient(248.59deg, rgba(0, 26, 39, 0.13) 38.5%, rgba(0, 26, 39, 0.72) 98.44%);
            border-radius: 0.5rem;
            opacity: 0.9;
            width: 250px;
            height: 300px;
         }

         .firstText {
            position: absolute;
            top: 2rem;
            left: 1rem;
            color: white;
            font-size: 24px;
            font-weight: 100;
            line-height: 32px;

            span {
               display: block;
               font-weight: 600;
               color: #ffe388;
            }
         }

         .secondText {
            position: absolute;
            bottom: 10rem;
            left: 2rem;
            font-weight: 600;
            color: white;
            letter-spacing: 0.05rem;
            font-size: 14px;
            line-height: 22px;
         }

         .button {
            position: absolute;
            bottom: 3rem;
            right: 2rem;
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0.007rem;
            font-weight: 600;
            color: white;
            line-height: 22px;
            background: linear-gradient(274.13deg, #197acf 0.89%, #1a8de9 98.03%);
            border-radius: 0.4rem;
            border: none;
            padding: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
         }
      }

      .nextBackground {
         background: transparent;
         width: 100%;
         height: 100%;
      }
   }
}

@media only screen and (min-width: 768px) {
   .carousel {
      width: 100vw;
      position: relative;
      left: -5rem;
      padding-left: 10rem;
      padding-right: 30rem;

      &__title {
         position: relative;
         left: -3rem;
      }

      &__container {
         .Image__Container {
            img {
               width: 100%;
               height: 225px;
            }

            .secondText {
               bottom: 3.5rem;
            }
         }

         .nextBackground {
            position: relative;
            width: 40%;
            background: linear-gradient(178.65deg, #032a5e 0%, #003781 100%);
            border-radius: 0.5rem;
            overflow: hidden;

            svg {
               position: absolute;
               bottom: 50%;
               left: 50%;
               font-size: 32px;
               color: white;
            }

            .Image__Container {
               width: 100vw;
               opacity: 0.4;
            }
         }
      }
   }
}
