.Menu__Container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 1rem;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   padding-left: 1rem;
   border-bottom: 1px solid #d9d9d9;

   &__OnHigh {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      min-width: 8rem;
      height: 90%;

      p {
         font-size: 14px;
         color: #999999;
      }

      svg {
         color: #1a8de9;
      }
   }

   &__Items {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      width: auto;

      .content {
         padding: 0;

         svg {
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(274.13deg, #197acf 0.89%, #1a8de9 98.03%);
            border-radius: 50%;
            padding: 0.5rem;
            font-size: 2.7rem;
            color: white;
         }

         p {
            display: none;
            visibility: hidden;
         }
      }
   }
}

@media only screen and (min-width: 768px) {
   .Menu__Container {
      border: none;
      gap: 2rem;
      justify-content: flex-end;
      &__OnHigh {
         justify-content: center;
         max-width: 8rem;
      }

      &__Items {
         justify-content: flex-end;
         gap: 2rem;
         width: auto;

         .content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            p {
               display: block;
               visibility: visible;
               color: #197acf;
            }
         }
      }
   }
}
